
  <div id="title">
    <h2>Playlist</h2>   
    <button id="generate-button" class="btn btn-danger" (click)="addTab()" >Generate</button>
    <button class="btn btn-danger"  [disabled]="tabs.length === 1" (click)="removeTab()" >Close this tab</button>
  </div>
 
<div id="wrapper">
<mat-tab-group [selectedIndex]="selected.value"
(selectedIndexChange)="selected.setValue($event)" id="tab-group">
   <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
     <div class="example-large-box mat-elevation-z4">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport"> 
        
        <div id="list-2"
              cdkDropList  
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
              
              cdkDropListConnectedTo="list-1"> 
            <div   class="example-box" *ngFor="let song of arrayFromSidebar; let indexOfelement=index;" (dblclick)="play(song)" cdkDrag>
              <div class="container-fluid" > 
                <div class="row" >
                  <div class="col-1">{{indexOfelement+1}}</div>
                  <div class="col-7">
                    <span [class.active]="song===active">{{song.title}}</span>
                  </div>
                  <div class="col-3">
                    <select [(ngModel)]="song.weight" (change)="onWeightChange(song)" style="color: black;" >
                      <option value="null">None</option>
                      <option *ngFor="let weight of weights" value="{{weight.value}}">{{weight.viewValue}}</option>
                    </select>
                  </div>
                  <div class="col-1">
                    <button class="deletebtn" (click)="onDelete(song)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </div> 
            </div>
        </div>  
     </cdk-virtual-scroll-viewport>
    </div>
  </mat-tab>
</mat-tab-group>
     

  

 
  
  





