:host{
    padding:20px;
    background-color: rgb(32, 32, 32);
    color: white;
    margin-top: 50px;
}
.list-group-item:hover{
    background-color: rgb(235, 235, 235);
    color: black;
}
.list-group-item{
    color:white;
    background-color: #222020;
    font-size:medium;
}

.deletebtn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 20px;
}

.deletebtn:hover{
    color: #dc3545;
}

.active{
    color:#dc3545;
}



