footer{
    padding: 10px;
    background-color: #060a05;
    position:fixed;
    bottom: 0;
    width: 100%;
    font-size:larger;
}

  .navigation{
    color: white;
    margin-top: 3px;
  }
  .start{
    display: flex;
    justify-content: flex-start;
  }
  .next{
    display: flex;
    justify-content: center;
    font-size: smaller;
  }
  .nav-buttons{
    display: flex;
    justify-content: center;
  }
  .volume-space{
    display: flex;
    justify-content: center;
  }
  .end{
    display: flex;
    justify-content: flex-end;
  }
  
  .play_pause{
    margin-left: 5px;
    margin-right: 5px;   
  }
  .title{
    display: flex;
    justify-content: center; 
    color: white;
  }
  .progress_bar{
    height: 8px;
    width: 99.3%;
    background-color: white;
    border-radius: 10px;
    margin-left: 6.5px;
  }
  .progressed{
    height: 8px;
    background-color:  #dc3545;
    transition: all 0.3s;
    border-radius: 5px;
  }
  .volumeBar{
    height: 5px;
    width: 35px;
    background-color: white;
  }
  .volume{
    height: 5px;
    background-color: #dc3545;
    transition: all 0.3s;
  }
  .volumeSetter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .btn-danger{
    background-color: #180605;
  }

  ::ng-deep .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
    background-color: white;
  }

  .mat-primary {
    background-color: #dc3545;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
  }

  .mat-primary:hover{
    background-color: white;
    color: #dc3545;
  } 

  .next-button:hover{
    color: #dc3545;
    cursor: pointer;
  }
  .back-button:hover{
    color: #dc3545;
    cursor: pointer;
  }
  .volume_icon{
    padding-top: 7px;
  }
  .volume_icon:hover{
    cursor: pointer;
  }
 
 


