<footer>
  <div class="title" *ngIf="song===undefined">
    <p>Music Title</p>
  </div>
  <div class="title" *ngIf="song" >
    <p>{{song.title}}</p>
  </div>
  
  <div class="progress_bar" #progress_bar >
    <div *ngIf="song">
      <div class="progressed" [style.width.%]="song.currentTime*(100/song.duration)"></div> 
    </div>
  </div>

  <div class="navigation">
    <div class="col-sm-1 start"> 
      <div *ngIf="song">
        <p>{{song.currentTime/60 | number:'2.0-0'}}:{{song.currentTime%60 | number:'2.0-0'}}</p>
      </div>
      <div *ngIf="song===undefined">00:00</div> 
    </div>

    <div  class="col-sm-4 next">  
      <div>
        <p>Next: {{nextSongTitle}}</p>
      </div>
    </div>

    <div  class="col-sm-2 nav-buttons"> 
      <div style="margin-top: 5px; ">
        <mat-icon class="back-button" (click)="onBackSong(song)">skip_previous</mat-icon>
        <button mat-mini-fab color="primary" (click)="play(song)" >
          <div *ngIf="song===undefined || !isPlaying">
            <mat-icon>play_arrow</mat-icon>
         </div>
         <div *ngIf="isPlaying">
          <mat-icon>pause</mat-icon>
         </div>
        </button>
        <mat-icon class="next-button" (click)="onNextSong(song)">skip_next</mat-icon>
      </div>
    </div>

    <div  class="col-sm-4 volume-space"> 
      <mat-slider  
        *ngIf="song"
        class="example-margin"
        [max]="max"
        [min]="min"
        [step]="step"
        [(ngModel)]="song.volume"
        aria-labelledby="example-name-label">
      </mat-slider>   

      <mat-slider 
        *ngIf="song===undefined"
        [max]="max"
        [min]="min"
        [step]="step"
        [(ngModel)]="systemVolume">
      </mat-slider> 
    </div>

    <div  class="col-sm-1 end">
      <div *ngIf="song">
        <p>{{song.duration/60 | number:'2.0-0'}}:{{song.duration%60 | number:'2.0-0'}}</p>
      </div>
      <div *ngIf="song===undefined">00:00</div>      
    </div>
  </div>
</footer>
